.playersWrap {
  display: flex;
  align-items: center;
  width: 170px;
}

.header_text {
  margin: 0 10px;

}
.header_avatar {
  width: 48px;
  height: 48px;
}
.header_name {
  color: #0D9488;
  font-size: 18px;
  max-width: 120px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header_rate {
  font-size: 12px;
  color: #94A3B8;
}