.gameField {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 4px 10px 0 #0000001a;
  border-radius: 16px;
  margin: 25px 0;
  gap: 15px;
}

.gameFieldHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gameFieldInfo {
}

.gameFieldTitle {
  font-size: 20px;
  font-weight: 600;
  color: #0f172a;
  line-height: 24px;
}

.gameFieldIcon {
  width: 20px;
  height: 20px;
}

.gameFieldSubtitle {
  font-size: 12px;
  color: #94a3b8;
}

.gameFieldButton {
  display: flex;
  gap: 10px;
}

.field {
  display: grid;
  grid-template-columns: repeat(19, 30px);
  grid-template-rows: repeat(19, 30px);
}

.fieldItem {
  border: 1px solid #94a3b8;
  background-color: inherit;
  margin-left: -1px;
  margin-top: -1px;
}
